:root {
  /* Institucional */
  --color-primary: #006031;
  --color-primary-dark: #004d29;
  --color-primary-darker: #003c22;

  --color-yellow: #efc800;
  --color-red: #b12517;
  --color-green: #067132;

  /* Neutros */
  --color-white: #ffffff;
  --color-background: #ffffff;
  --color-text: #252525;
  --color-text-muted: #606663;
  --color-border: #e6e6e6;

  /* Layout */
  --container-width: 1200px;
  --container-padding: 24px;

  /* Border radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;

  /* Sombras */
  --shadow-card: 0 3px 12px rgb(0 0 0 / 7%);

  /* Espaciados */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
}